{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Add user</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.first_name.label(class="form-label") }}
            {{ form.first_name(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.last_name.label(class="form-label") }}
            {{ form.last_name(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.roll_no.label(class="form-label") }}
            {{ form.roll_no(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.face_img.label(class="form-label") }}
            {{ form.face_img(class="form-control") }}
        </div>

        <br/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
