{% extends 'base.html' %} {% block content %}
<style>


  body {

    background-color: #1f1525fb;

    color: azure;

    font-family: system-ui, 
    -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI",
      Roboto, 
      Oxygen, 
      Ubuntu, 
      Cantarell, 
      "Open Sans", 
      "Helvetica Neue",
      sans-serif, 
      sans-serif;

  }


  p {

    color: #1f152586;

  }


  form {

    background-color: rgb(255, 255, 255);

    padding: 50px;

    border-radius: 20px;

    box-shadow: black 5px 0px 10px 0px;

  }


  .btn {

    background-color: blueviolet;

    border-color: blueviolet;

    color: white;

    width: 100px;

  }


  .form-label {

    color: #1f152586;

  }


  .form-control {

    border-color: #1f1525fb;

    margin-bottom: 5px;

    border-radius: 6px;

  }


  .img-fluid {

    padding-top: 82px;

  }


  .container {

    /* Container for the image and the form */

    max-width: 100%;

    margin: 0 auto;

    overflow-x: hidden;

  }


</style>

<div class="row container">

  <div class="col-md-6">

    <!-- Column for the image (half width on medium screens) -->
    <img
      src="{{url_for('static',filename='css/images/add student.png')}}"
      alt="Illustration"
      class="img-fluid"
      style="padding-left: 70px"
    />

  </div>

  <div class="col-md-6" style="padding-top: 50px; padding-right: 100px">

    <!-- Column for the form (half width on medium screens) -->

    <form method="POST" enctype="multipart/form-data">
      {% for message in get_flashed_messages() %}
      <div
        class="alert {% if 'Error' in message or 'Invalid' in message %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show"
        role="alert"
      >
        <svg
          class="bi flex-shrink-0 me-2"
          width="24"
          height="24"
          role="img"
          aria-label="Icon:"
        >
          <use
            xlink:href="#{% if 'Error' in message %}exclamation-triangle-fill{% else %}check-circle-fill{% endif %}"
          />
        </svg>
        <strong>{{ message }}</strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %}
      <h1 style="font-weight: bold; color: #1f1525fb">Add Student</h1>
      <p>Please fill out the following details to add a new student:</p>
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.first_name.label(class="form-label") }}
        <span style="color: red">*</span>
        {{ form.first_name(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.last_name.label(class="form-label") }}
        <span style="color: red">*</span>
        {{ form.last_name(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.roll_no.label(class="form-label") }}
        <span style="color: red">*</span>
        {{ form.roll_no(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.face_img.label(class="form-label") }}
        <span style="color: red">*</span>
        {{ form.face_img(class="form-control") }}
      </div>
      <br />
      {{ form.submit(class="btn") }}
    </form>
  </div>
</div>
{% endblock %}
