{% extends 'base.html' %}

{% block title %}Automatic Attendance{% endblock %}

{% block content %}
    <h1>Automatic Attendance</h1>

    <form method="post" action="{{ url_for('attendance') }}">
        {{ course_form.hidden_tag() }}
        <label for="course">Select Course:</label>
        {{ course_form.course(class="form-control", id="course") }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    <img src="{{ url_for('video_feed') }}" alt="Webcam Feed">
{% endblock %}
