{% extends 'base.html' %}
{% block content %}

<style>
    body{
        background-color: rgb(255, 255, 255);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    }
    
    h1{
        color: #1f1525fb;
        font-weight: bold;
        margin: 20px;
        margin-bottom: 0px;
        margin-left: 50px;
    }

    .table-format{
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
    }

    td:first-child {
    margin-left: 100px; /* Change the margin value according to your preference */
    }

    thead{
        background-color: #1f1525fb;
        color: azure;
    }

    th{
        font-size: 16px;
    }

    table {
        background-color: rgba(210, 197, 221, 0.154);
    }

    tbody:hover{
            background-color: rgba(147, 134, 158, 0.319);
    }

    .add-student{
        width: 200px;
        background-color: #1f1525fb;
        color: white;
        padding: 10px;
    }

    .add-student:hover{
        background-color: rgb(79, 52, 79);
        color: white;
    }


</style>

{%for message in get_flashed_messages(class )%}
                
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        
    {%endfor%}

        <div style="display: flex; margin-right: 50px">
            <h1>Course List</h1>
        </div>

        <hr style="margin-left: 50px; margin-right: 50px; border-top: 2px solid #1f1525fb;">
        <div class="table-format">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col">Course Code</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Time Slot</th>
                        <th scope="col" style="text-align: center;">Action</th>
                    </tr>
                </thead>
                {% for course in courses %}
                <tbody>
                    <tr>
                        <td> </td>
                        <td>{{course.course_code }}</td>
                        <td>{{course.course_name}}</td>
                        <td>{{course.start_time.strftime('%H:%M')}} - {{course.end_time.strftime('%H:%M')}}</td>
                        <td style="text-align: center;">
                            <a class="btn btn-primary" href="{{ url_for('updateCourse', course_id=course.course_id) }}" style="width: 100px; margin: 5px;">
                                <img src="{{url_for('static', filename='css/images/edit.png')}}" alt="Edit" width="15px" height="15px">
                                Edit
                            </a>
                            <a class="btn btn-danger" href="{{ url_for('deleteCourse', course_id=course.course_id) }}" style="width: 100px; margin: 5px;">
                                <img src="{{url_for('static', filename='css/images/delete.png')}}" alt="Delete" width="15px" height="15px">
                                Delete
                            </a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        <footer style="margin-bottom: 50px;">
            <hr style="margin-left: 50px; margin-right: 50px; border-top: 2px solid #1f1525fb;">
            <p style="text-align: center; margin-bottom: 0px; font-size: 12px;">&copy; 2023 | Checkr: Automated Attendance Checker</p>
        </footer>
        {% endblock %}
