{%extends 'base.html'%}
    {%block content%}
        {%for message in get_flashed_messages(class )%}
                
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        
        {%endfor%}


        <h1>Update Student:</h1>
        <div class="shadow p-3 mb-5 bg-body rounded">
      
         
          
            <form action="/updateStudent/{{student_to_update.id}}"method ="POST" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                {{form.update_first_name.label(class="form-label")}}
                {{form.update_first_name(class = "form-control",value = student_to_update.first_name)}}

                {{form.update_last_name.label(class="form-label")}}
                {{form.update_last_name(class = "form-control",value = student_to_update.last_name)}}
                
                {{form.update_roll_no.label(class="form-label")}}
                {{form.update_roll_no(class = "form-control",value = student_to_update.roll_number)}}
                
                {{form.update_face_img.label(class="form-label")}}
                {{form.update_face_img(class = "form-control",value = student_to_update.face_img)}}
                
                <br/>
                {{form.submit(class = "btn btn-primary")}}
                <a class="btn btn-danger" href="{{url_for('deleteStudent',id = student_to_update.id)}}">Delete</a>
                
            </form>
            </div>
    
    {%endblock%}