{%extends 'base.html'%}
    {%block content%}
    <style>
        body {
            background-color: #1f1525fb;
            color: azure;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif; 
        }
        h1 {
            color: #1f1525fb;
            font-weight: bold;
        }

        form {
            background-color: rgb(255, 255, 255);
            padding-right: 50px;
            padding-left: 50px;
            padding-top: 40px;
            padding-bottom: 40px;
            border-radius: 20px;
            box-shadow: black 5px 0px 10px 0px;
            margin: 80px;
            margin-top: 40px;
        }

        .btn {
            width: 150px;
            margin-right: 5px;
        }
        .form-label{
            color: #1f152586;
        }

        .form-control {
            margin-bottom: 5px;
            border-radius: 6px;
        }

        .btn-danger{
            background-color: white;
            border-color: red;
            color: red;
        }
    </style>
        <div>
            <form action="/updateStudent/{{student_to_update.id}}"method ="POST" enctype="multipart/form-data">
                {%for message in get_flashed_messages(class )%}
                
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                    <strong>{{message}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                
                {%endfor%}
                <h1>Update Student</h1>
                {{form.hidden_tag()}}
                {{form.update_first_name.label(class="form-label")}}
                {{form.update_first_name(class = "form-control",value = student_to_update.first_name)}}

                {{form.update_last_name.label(class="form-label")}}
                {{form.update_last_name(class = "form-control",value = student_to_update.last_name)}}
                
                {{form.update_roll_no.label(class="form-label")}}
                {{form.update_roll_no(class = "form-control",value = student_to_update.roll_number)}}
                
                {{form.update_face_img.label(class="form-label")}}
                {{form.update_face_img(class = "form-control",value = student_to_update.face_img)}}
                
                <br/>
                {{form.submit(class = "btn btn-primary")}}
                <a class="btn btn-danger" href="{{url_for('StudentList')}}">Cancel</a>
                
            </form>
            </div>
    
    {%endblock%}